<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Peach Page{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>

<body>
    <header>
        <h1 id="site-title"><h1>Welcome to Peach Page{% if user %}, {{ user }}{% endif %}!</h1></h1>
    </header>

    <!-- Flash messages -->
    <div id="flash-container" aria-live="polite" role="status">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for m in messages %}
                        <li>{{ m }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{{ url_for('static', filename='js/service_worker.js') }}");
        }
    </script>

</body>

</html>