<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Web App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register("{{ url_for('static', filename='js/service_worker.js') }}");
    }
  </script>
</head>

<body>
  <h1>Mini Forum</h1>

  <h2>Welcome{% if user %}, {{ user }}{% endif %}</h2>

  {% if user %}
    <form method="post">
      <textarea name="content" required></textarea><br>
      <button type="submit">Post message</button>
    </form>
    <p><a href="{{ url_for('main.logout') }}">Logout</a></p>
  {% else %}
    <p><a href="{{ url_for('main.login') }}">Login</a> or <a href="{{ url_for('main.register') }}">Register</a> to post</p>
  {% endif %}

  <h2>Messages:</h2>
  {% for msg in messages %}
    <p><strong>{{ msg.name }}</strong>: {{ msg.content }}</p>
  {% else %}
    <p>No messages yet.</p>
  {% endfor %}

{#
  This is a Jinja2 comment. It works when processing with flask. for {% %} statements.
  Use {% if/for ... %} ... {% endif/endfor %} for if/for statements in html/Jinja2.
  Output values with {{ var }}.
  Jinja2 allows reading dictionaries with dots. Below 'name' is the key. Thus msg.name is msg["name"].
#}

</body>

</html>

